*{
    margin: 0;
    padding: 0;

}
body{
    background: #ededed;
    margin: 20px;
}

.myform {
    width: 290px;
    margin: auto;
    background-color: #4bc;
}
input {
    margin: 15px;
    padding: 10px;
    width: 219px;
    font-size: 18px;
}
textarea {
    font-size: 18px;
    margin: 15px;
    padding: 10px;
    min-width: 223px;
    max-width: 255px;
    min-height: 70px;
    max-height: 100px;
}
input[type="submit"]{
    width: 255px;
}

